
#user-center-container{
/*    .log_list{ display: none;    }
    .page_block{ display: none;    }*/
    /*.general-info-t-info .profile-name-info { display: none; }*/
    /*.general-info-avatar img  { display: none; }*/
/*    div.general-info   div.profile-vip-info { display: none; }*/
/*    div.base-info-content > div > form > ul > li:nth-child(1) > div.content-show-r { display: none; }
    div.base-info-content > div > form > ul > li:nth-child(2) > div.content-show-r  { display: none; }*/
}